* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 98%;
    width: 100%;
}

main {
    /* display: flex;
    align-items: center;
    justify-content: center;
    border: solid blue;
    height: 94%; */
    height: 100%;
}

header {
    text-align: center;
}

header h1 {
    font-weight: 900;
    font-size: 32px;
}

#container {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    /* border: solid blue; */
    height: 100%;
}

#stimControlContainer {
    background-color: #558ec0;
    border-radius: 20px;
    margin: 20px;
    height: 96%;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s linear;
}

#stimControlContainer.collapsed {
    width: 30px;
}

#stimControl {
    display: flex;
    flex-direction: column;
    align-Items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease;
}

#stimControl #stimGenerator {
    width: 90%;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #0277BD;
    display: flex;
    align-Items: center;
    justify-content: center;
}

#stimGenerator select, input {
    margin: 0 8px;
}

#stimGenerator option {
    text-align: center;
}

.hidden {
    display: none;
}

#stimStartToggleButton {
    padding: 10px 20px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

#stimControlContainer.collapsed #stimControl{
    opacity: 0;
}

#stimControlToggleButton {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
    border: none;
    background-color: white;
    padding: 6px;
    z-index: 1;
}

#stimDisplayContainerWrapper {
    flex: 1;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

#stimDisplayContainer {
    background-color: #558ec0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: flex; 
    flex-direction: column;
    align-Items: center;
    justify-content: center;
    /* transition: transform 1.5s ease; */
    /* transition: margin 1.5s 0.2s linear; */
    transition: width 0.5s linear;
}

#stimDisplayContainerWrapper.shifted #stimDisplayContainer{
    /* transform: translateX(25%); */
    /* margin: 0 auto; */
    width: 50%;
}

#stimDisplay {
    display: flex;
    align-Items: center;
    justify-content: center;
    height: 150px;
    width: 500px;
    font-size: 70px;
    font-weight: 900;
}